*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kablammo', cursive;
font-family: 'Poppins', sans-serif;
}

body{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg,#0a0a0a,#3a4452);
}
.calculator{
    border: 1px solid #717375;
    padding: 20px;
    border-radius: 16px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(113, 115, 119, 0.4);
}
input{
    width: 320px;
    border: none;
    padding: 24px;
    margin: 10px;
    background-color: transparent;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
    font-size: 40px;
    text-align: right;
    cursor: pointer;
    color: white;
}
input::placeholder{
    color: rgb(170, 161, 161);
}
button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background-color: transparent;
    color: white;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.3);
    cursor: pointer;
   
}
.equalBtn{
    background-color: rgb(188, 70, 6);
}
.equalBtn:hover{
    background-color: rgb(22, 229, 22);
   }
   
  

.operator{
    color: rgb(23, 167, 23);
    transition: 10s;

}

